@page "/GroupEdit/{Id}"

@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Messenger.Domain
@inject NavigationManager NavigationManager

<h2>Редактирование группы</h2>
<hr/>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="OwnerId" class="control-label">Владелец</label>
                <input form="OwnerId" class="form-control" @bind="@obj.OwnerId" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Название</label>
                <input form="Name" class="form-control" @bind="@obj.Name" />
            </div>
            <div class="form-group">
                <label for="Type" class="control-label">Тип</label>
                <input form="Type" class="form-control" @bind="@obj.Type" />
            </div>
            <div class="form-group">
                <label for="CreationDate" class="control-label">Дата создания</label>
                <input form="CreationDate" class="form-control" @bind="@obj.CreationDate" />
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Описание</label>
                <input form="Description" class="form-control" @bind="@obj.Description" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateGroup" value="Сохранить" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Отмета" />
            </div>
        </div>
    </div>

</form>

@code {
    [Parameter]
    public string Id { get; set; }

    Group obj = new Group();

    protected override async Task OnInitializedAsync()
    {
        obj = await Http.GetFromJsonAsync<Group>("https://localhost:44351/API/Group/" + Id);
    }

    protected async void UpdateGroup()
    {
        await Http.PutAsJsonAsync("https://localhost:44351/API/Group/" + Id, obj);
        NavigationManager.NavigateTo("groups/" + Current.UserId);
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("groups/" + Current.UserId);
    }
}
